@import './../../assert/stylus/mixin.styl'

 .support-ico
    display inline-block
    background-repeat no-repeat
  .icon-1
    width 12px
    height 12px
    background-size 12px 12px
    &.decrease
      background-image: url("icons/decrease_1@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/decrease_1@3x.png")
    &.discount
      background-image: url("icons/discount_1@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/discount_1@3x.png")
    &.guarantee
      background-image: url("icons/guarantee_1@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/guarantee_1@3x.png")
    &.invoice
      background-image: url("icons/invoice_1@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/invoice_1@3x.png")
    &.special
      background-image: url("icons/special_1@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/special_1@3x.png")
  .icon-2
    width 16px
    height 16px
    background-size 16px 16px
    &.decrease
      background-image: url("icons/decrease_2@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/decrease_2@3x.png")
    &.discount
      background-image: url("icons/discount_2@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/discount_2@3x.png")
    &.guarantee
      background-image: url("icons/guarantee_2@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/guarantee_2@3x.png")
    &.invoice
      background-image: url("icons/invoice_2@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/invoice_2@3x.png")
    &.special
      background-image: url("icons/special_2@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/special_2@3x.png")
  .icon-3
    width 12px
    height 12px
    background-size 12px 12px
    &.decrease
      background-image: url("icons/decrease_3@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/decrease_3@3x.png")
    &.discount
      background-image: url("icons/discount_3@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/discount_3@3x.png")
    &.guarantee
      background-image: url("icons/guarantee_3@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/guarantee_3@3x.png")
    &.invoice
      background-image: url("icons/invoice_3@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/invoice_3@3x.png")
    &.special
      background-image: url("icons/special_3@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/special_3@3x.png")
  .icon-4
    width 16px
    height 16px
    background-size 16px 16px
    &.decrease
      background-image: url("icons/decrease_4@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/decrease_4@3x.png")
    &.discount
      background-image: url("icons/discount_4@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/discount_4@3x.png")
    &.guarantee
      background-image: url("icons/guarantee_4@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/guarantee_4@3x.png")
    &.invoice
      background-image: url("icons/invoice_4@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/invoice_4@3x.png")
    &.special
      background-image: url("icons/special_4@2x.png")
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        background-image: url("icons/special_4@3x.png")