.goods-container
  display: flex
  height: calc(100% - 56px)
  overflow: hidden;
  position: fixed;
  top: 0 
  bottom: 45px
  box-sizing: border-box
  padding-bottom: 10px
  .goods-nav
    height: 100%;
    order: -1;
    position: relative;
    overflow: hidden;
    white-space: normal;
    width: 80px;
  .goods-panel
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;