.cube-popup-content
  opacity 1
  position absolute
  bottom 56px
  left 0
  right 0
  min-height: 100px
  .listHeader
    background: #f3f5f7;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    .title
      color: #333;
      float: left;
      font-size: 14px;
    .empty
      color: #00a0dc;
      float: right;
      font-size: 12px;
.list-content
  background: #fff;
  overflow: hidden;
  padding: 0 18px;
  // height: 100%
  max-height: 250px
  // overflow: hidden;
  max-height: 250px
  .food
    box-sizing: border-box;
    padding: 12px 0;
    position: relative;
    .name
      color: #333;
      font-size: 14px;
      line-height: 24px;
    .price
      bottom: 12px;
      color: #f01414;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      position: absolute;
      right: 90px;
    .cart-control-wrapper
      bottom: 6px;
      position: absolute;
      right: 0;