@import './../../assert/stylus/cube/variable.styl'
@import './../../assert/stylus/variable.styl'
.popup-content
  opacity 1
  position absolute
  bottom 42px
  left 0
  right 0
  min-height: 100px
  transform: translateY(250px)
  &.slide-enter
    transform: translateY(250px)
  &.slide-enter-active
    transform: translateY(0)
    transition all 0.3s ease-in-out
  &.slide-enter-done
    transform: translateY(0)
  &.slide-exit
    transform: translateY(0)
  &.slide-exit-active
    transform: translateY(250px)
    transition all 0.3s ease-in-out
  &.slide-exit-done
    transform: translateY(250px)
  .listHeader
    background: $color-white;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    .title
      color: $color-dark-grey;
      float: left;
      font-size: $fontsize-medium;
    .empty
      color: $color-blue;
      float: right;
      font-size: $fontsize-small;
.list-content
  background: $color-white;
  overflow: hidden;
  padding: 0 18px;
  max-height: 250px
  overflow: hidden;
  padding-bottom: 10px
  .food
    box-sizing: border-box;
    padding: 12px 0;
    position: relative;
    .name
      color: $color-dark-grey;
      font-size: $fontsize-medium;
      line-height: 24px;
    .price
      bottom: 12px;
      color: $color-red;
      font-size: $fontsize-medium;
      font-weight: 700;
      line-height: 24px;
      position: absolute;
      right: 90px;
    .cart-control-wrapper
      bottom: 6px;
      position: absolute;
      right: 0;