@import './../../assert/stylus/variable.styl'
  
.fixed-title-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index 999
  height: 26px;
  h2
    background: $color-background-ssss;
    border-left: 2px solid #d9dde1;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
    text-align: left;
    font-weight: 600;