.category-item-container
  .category-title
    height: 26px;
    position: relative;
    .category-name
      background: #f3f5f7;
      border-left: 2px solid #d9dde1;
      color: #666;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      padding-left: 14px;
  .food-item
    display: flex;
    margin: 18px;
    padding-bottom: 18px;
    position: relative;
    .icon
      flex: 0 0 57px;
      margin-right: 10px;
    .content
      -webkit-box-flex: 1;
      flex: 1;
      .name
        color: #333;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        margin: 2px 0 8px;
      .desc
        line-height: 12px;
        margin-bottom: 8px;
        color: #999;
        font-size: 10px;