.category-item
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  background: #f3f5f7;
  display: flex;
  font-size: 12px;
  height: 56px;
  line-height: 14px;
  padding: 0 10px;
  text-align: left;
  position relative
.active
  background: #fff
   