.slide-fullpage
  padding 0
  position: fixed
  top: 174px
  bottom: 0
  left: 0
  right: 0
  .slide-banner-wrapper
    height 100%
    overflow hidden
    .slide-banner-content
      width: 100%
      height 100%
      white-space nowrap
      font-size 0
      .slide-page
        display inline-block
        height 100%
        width 100%
        text-align center
        font-size 26px
        transform translate3d(0,0,0)
        backface-visibility hidden
        overflow: hidden
        position relative