@import './../../assert/stylus/variable.styl'
.ball-container
  .ball
    position fixed
    left: 32px
    bottom: 30px
    z-index 200
    .inner
      width: 16px
      height: 16px
      border-radius: 50%
      background: $color-blue